name: test-clang-format

on: ["pull_request", "push"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: DoozyX/clang-format-lint-action@v0.5
      with:
        source: '.'
        exclude: 'docker-images,doxygen,examples,testing-resources'
        extensions: 'h,c,cpp'
        clangFormatVersion: 9