---
name: macOS build and test AWS Encryption SDK for C

on: ["pull_request", "push"]


jobs:
  OSX:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macOS-10.15, macos-latest]
        openssl_version: [openssl@1.1]

    steps:
      - run: brew install ${{ matrix.openssl_version }}

      - name: Checkout PR
        uses: actions/checkout@v2

      - name: Checkout Dependencies
        uses: actions/checkout@v2
        with:
          repository: "aws/aws-sdk-cpp"
          ref: "1.8.32"
          path: "aws-sdk-cpp"

      # The hosted Actions runners include CMake v3.19.1 by default, which has
      # a regression that causes aws-sdk-cpp and aws-encryption-sdk-c to fail
      # to build on the runners. We install the previous working version as a
      # workaround. See https://github.com/aws/aws-encryption-sdk-c/issues/650.
      - name: Install CMake v3.18.5
        run: |
          brew uninstall cmake
          curl -L https://github.com/Kitware/CMake/releases/download/v3.18.5/cmake-3.18.5-Darwin-x86_64.tar.gz | tar xz
          cd cmake-3.18.5-Darwin-x86_64/CMake.app/Contents
          sudo cp bin/* /usr/local/bin/
          sudo cp share/aclocal/* /usr/local/share/aclocal/
          sudo cp -R share/cmake-3.18 /usr/local/share/

      - name: Build and install aws-sdk-cpp
        run: |
          mkdir -p build-aws-sdk-cpp || true
          mkdir -p install || true
          cd build-aws-sdk-cpp
          cmake -G Xcode -DTARGET_ARCH="APPLE" -DBUILD_SHARED_LIBS=ON -DBUILD_ONLY="kms" -DENABLE_UNITY_BUILD=ON ../aws-sdk-cpp
          xcodebuild -target ALL_BUILD
          xcodebuild -target install

      - name: Build C-ESDK
        env:
          OPENSSL_VERSION: ${{ matrix.openssl_version }}
        run: |
          mkdir build-aws-encryption-sdk-c || true
          cd build-aws-encryption-sdk-c
          cmake -G Xcode -DBUILD_SHARED_LIBS=ON -DOPENSSL_ROOT_DIR="/usr/local/opt/${OPENSSL_VERSION}" ../
          xcodebuild -target ALL_BUILD
          xcodebuild -scheme RUN_TESTS
