---
name: macOS build and test AWS Encryption SDK for C

on:
  pull_request:
    branches:
      - master


jobs:
  OSX:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macOS-10.15, macos-latest]
        openssl_version: [openssl@1.1]

    steps:
      - run: brew install ${{ matrix.openssl_version }}

      - name: Checkout PR
        uses: actions/checkout@v2

      - name: Checkout Dependencies
        uses: actions/checkout@v2
        with:
          repository: "aws/aws-sdk-cpp"
          ref: "1.8.32"
          path: "aws-sdk-cpp"

      # The hosted Actions runners include CMake v3.19.1 by default, which has
      # a regression that causes aws-sdk-cpp and aws-encryption-sdk-c to fail
      # to build on the runners.
      # This appears to have been an issue in CMake that is fixed in 3.19.3.
      # This workaround is required until the MacOS Action is updated to a
      # a newer CMake, or the dependency adds a workaround for 3.19.1.
      # See https://github.com/aws/aws-encryption-sdk-c/issues/650 and
      # https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md
      - name: Install CMake v3.19.3
        run: |
          brew install cmake@3.19.3
          brew switch cmake 3.19.3

      - name: Build and install aws-sdk-cpp
        run: |
          mkdir -p build-aws-sdk-cpp || true
          mkdir -p install || true
          cd build-aws-sdk-cpp
          cmake -G Xcode -DTARGET_ARCH="APPLE" -DBUILD_SHARED_LIBS=ON -DBUILD_ONLY="kms" -DENABLE_UNITY_BUILD=ON ../aws-sdk-cpp
          xcodebuild -target ALL_BUILD
          xcodebuild -target install

      - name: Build C-ESDK
        env:
          OPENSSL_VERSION: ${{ matrix.openssl_version }}
        run: |
          mkdir build-aws-encryption-sdk-c || true
          cd build-aws-encryption-sdk-c
          cmake -G Xcode -DBUILD_SHARED_LIBS=ON -DOPENSSL_ROOT_DIR="/usr/local/opt/${OPENSSL_VERSION}" ../
          xcodebuild -target ALL_BUILD
          xcodebuild -scheme RUN_TESTS
